.nav-footer {
  padding: 0;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  background: #e5e5e5;
  position: relative;
  bottom: 0;
}

.footer-light {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  margin: 0 auto;
}

.footer-dark {
  margin: 0 auto;
  background: #d8d8d8;
  height: 35px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-icons {
  float: left;
  text-align: left;
}

.social-icon {
  width: 35px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.logo-image-footer {
  height: 45px;
}

.footer-copyright p {
  color: #4a4a4a;
  display: block;
  font-family: "Roboto-Light";
  font-size: 13px;
  font-weight: 300;
  line-height: 1.38;
  margin-left: 0;
  margin-top: -5px;
  margin-bottom: 15px;
}

.footer-logout {
  text-align: right;
  margin-top: 10px;
}

.logout-link {
  color: #777;
}